.space {
    width: 100%;
    height: 180px;
}

#business_name_area {
    display: none;
}

.fa.fa-edit {
    color: #6C63FF;
}

.fa.fa-trash {
    color: red;
}

.pre {
    white-space: pre-wrap !important;
}